<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2026-06-09T02:25:52Z</date>
	<key>WorkspacePath</key>
	<string>/Users/kevin/Projects/open-source/Snipory/snipory-v2/platforms/mac/snipory.xcodeproj</string>
</dict>
</plist>
